/* @group Flipster Coverflow Theme */

.flipster--coverflow {

    .flipster__container,
    .flipster__item,
    .flipster__item__content {
          transition: all 350ms ease-in-out;
          transition-timing-function: cubic-bezier(.56,.12,.12,.98);
    }

    .flipster__item { perspective: 800px; }

    .flipster__container { padding-bottom: 5%; }

    .flipster__item__content {
        transform-origin: 50% 100%;
    }

    .flipster__item__content img:only-child { display: block; }

    .flipster__item--past .flipster__item__content {
        transform-origin: 0% 50%;
        transform: scale(0.75) rotateY(55deg);
    }

    .flipster__item--future .flipster__item__content {
        transform-origin: 100% 50%;
        transform: scale(0.75) rotateY(-55deg);
    }

    .flip-current .flipster__item__content { transform: rotateY(0deg); }

}

/* @end */